<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      times{
        font-family: "Times New Roman", Times, serif;
        color: white;
      }
      body{
        background-color: #000000;
      }
      div.indent {
        padding: 10px 10px;
      }
      div.indent2{
         padding: 5px 20px;
      }
      div.avatar {
        margin: 30px 20px;
      }
      a:hover, a:visited, a:link, a:active {
        text-decoration: none;
      }
      a{ #ffffff; }
      div.bg {
        background-color: #171A21;
      }
      bans{
        color: #ffffff;
      }

    </style>
  </head>
  <body>
    <div class = 'indent'>
      <a href='javascript:history.back()'><img src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2000px-Steam_icon_logo.svg.png' width = 100 height = 100></a>
    </div>
    <div class = 'bg'>
      <div class = 'indent'>
      <div class = 'avatar'>
        <img src = <%= @steam_data[3]%> width = '150' height = '150'>
        
      <div class = "times">
      <a href="<%=@steam_data[2]%>" class = 'avatar'>
        <font size= '4' >Username: <%= @steam_data[0]%><br>
        Steam ID: <%= @steam_data[1]%></font>
      </a>
      <br><br>
      <br>
        <font color = "white">
          <br><h2><b>Trust Status:</b></h2>
          <div class='indent2'>
            Community Ban: <%= @steam_bans[0] %>
            <br>
            '<b>VAC</b>' Ban: <%= @steam_bans[1] %>
            <br>
            Game Ban: <%= @steam_bans[2] %>
            <br>
            Trade Ban: <%= @steam_bans[3] %>
          <br>
          </div>
        <h2><b>Games:</b></h2>
          <div class='indent2'>
             <h4>Number of Steam Games: <%= @steam_time[2] %> hours<br>
             Total Playtime on Steam:  <%= @steam_time[0] %> hours<br>
             Playtime within the past 2 weeks: <%= @steam_time[1] %> hours</h4>
            <br>
            <%@games.each {|game|%>
            <%= game.keys[0] %>:  <%= game.values[0] %> hours<br>
            <%}%>
          </div>
        <h2><b>Friends:</b></h2>
          <div class='indent2'>
            <br><div class = "times">
            <%@friends.each {|friend_detail|%>
            <a href=<%=friend_detail[2]%>>
            <img src = <%=friend_detail[3]%> width = '90' height = '90'>
              <br><font size= '2' ><%= friend_detail[0]%><br>
              <%=friend_detail[1]%></font>
              <hr width="3">
              </a>
            <%}%>
          </div>
        </font>
      </div>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
